body {
color: white;
  background: darkred;
  margin: 0px;
	font-family: "Josefin Sans", sans-serif;
}

header{
  border-bottom: solid 2px rgb(217,216,216);
  padding: 20px;
  font-size: 32px;
  color: rgb(217,216,216);
}

section {
	background: rgb(184,156,213);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}

img{
height: 150px;
}
